extends layout-bootstrap

block body
	
	.row
		- var listing = context.dataValues
		- var title = listing.title
		- var description = listing.description
		- var author = user.dataValues.full_name
		- var price = listing.price 
		- var deposit = listing.deposit
		- var status = listing.status
		- var date = listing.createdAt 
		- var wallet = user.wallet_address
		
		
		.col-md-8
			.row
				.col
					.card.mb-3
						.card-header User Information
						ul.list-group.list-group-flush
							//- li.list-group-item Username: Ammar Almajed
							li.list-group-item Wallet Adress:
								p#from= wallet   
							//- li.list-group-item Phone Number: +966 5x xxx xxxx
							//- li.list-group-item Ship to : Address here
			.row 
				.col
					.card.mb-3
						.card-header Seller Information
						ul.list-group.list-group-flush
						li.list-group-item= "Author : " + author
						li.list-group-item Seller Wallet Adress: 
							p#to=wallet
						//- li.list-group-item= "Date Posted : " + date
			.row 
				.col 
					a#purchase.btn.btn-dark.mx-auto(href = '#' style = 'width: 100%; color: white;') Purchase
			.row 
				.col 
					p.pt-5= "Date Posted : " + date

		.col-md-4 
			.card 
				img.card-img-top(src="https://www.visible.com/shop/assets/images/shop/catalogue/iPhone_12_mini_PUR_1.jpg")
				.card-body
					h5.card-title=title
					h5#price.card-subtitl Price: #[span#price=price] Eth
					p.card-text= "Deposit : " + deposit + " ETH"
					p.card-text=description
					p.card-text= "Status : " + status
		
	script.
		let user_wallet = document.getElementById("from");
		user_wallet.innerText = ethereum.selectedAddress;

		
			
	//- 	.col-md-4.p-3
	//- 		.card.mx-auto(style = "width: 18rem;")
	//- 			img.card-img-top(src = 'https://www.visible.com/shop/assets/images/shop/catalogue/iPhone_12_mini_PUR_1.jpg')
	//- 			.card-body 
	//- 				h5.card-title Title 
	//- 				p.card-text Description 
	//- 				p.card-text Price: 5 ETH
	//- 				a.btn.btn-primary.mt-2(href='/pay') More
	//- 	.col-md-4.p-3
	//- 		.card.mx-auto(style = "width: 18rem;")
	//- 			img.card-img-top(src = 'https://www.visible.com/shop/assets/images/shop/catalogue/iPhone_12_mini_PUR_1.jpg')
	//- 			.card-body 
	//- 				h5.card-title Title 
	//- 				p.card-text Description 
	//- 				p.card-text Price: 5 ETH
	//- 				a.btn.btn-primary.mt-2(href='/pay') More
	//- .row 
	//- 	.col-md-4.p-3
	//- 		.card.mx-auto(style = "width: 18rem;")
	//- 			img.card-img-top(src = 'https://www.visible.com/shop/assets/images/shop/catalogue/iPhone_12_mini_PUR_1.jpg')
	//- 			.card-body 
	//- 				h5.card-title Title 
	//- 				p.card-text Description 
	//- 				p.card-text Price: 5 ETH
	//- 				a.btn.btn-primary.mt-2(href='/pay') More
	//- 	.col-md-4.p-3
	//- 		.card.mx-auto(style = "width: 18rem;")
	//- 			img.card-img-top(src = 'https://www.visible.com/shop/assets/images/shop/catalogue/iPhone_12_mini_PUR_1.jpg')
	//- 			.card-body 
	//- 				h5.card-title Title 
	//- 				p.card-text Description 
	//- 				p.card-text Price: 5 ETH
	//- 				a.btn.btn-primary.mt-2(href='/pay') More
	//- 	.col-md-4.p-3
	//- 		.card.mx-auto(style = "width: 18rem;")
	//- 			img.card-img-top(src = 'https://www.visible.com/shop/assets/images/shop/catalogue/iPhone_12_mini_PUR_1.jpg')
	//- 			.card-body 
	//- 				h5.card-title Title 
	//- 				p.card-text Description 
	//- 				p.card-text Price: 5 ETH
	//- 				a.btn.btn-primary.mt-2(href='/pay') More
	//- .row 
	//- 	.col-md-4.p-3
	//- 		.card.mx-auto(style = "width: 18rem;")
	//- 			img.card-img-top(src = 'https://www.visible.com/shop/assets/images/shop/catalogue/iPhone_12_mini_PUR_1.jpg')
	//- 			.card-body 
	//- 				h5.card-title Title 
	//- 				p.card-text Description 
	//- 				p.card-text Price: 5 ETH
	//- 				a.btn.btn-primary.mt-2(href='/pay') More
	//- 	.col-md-4.p-3
	//- 		.card.mx-auto(style = "width: 18rem;")
	//- 			img.card-img-top(src = 'https://www.visible.com/shop/assets/images/shop/catalogue/iPhone_12_mini_PUR_1.jpg')
	//- 			.card-body 
	//- 				h5.card-title Title 
	//- 				p.card-text Description 
	//- 				p.card-text Price: 5 ETH
	//- 				a.btn.btn-primary.mt-2(href='/pay') More
	//- 	.col-md-4.p-3
	//- 		.card.mx-auto(style = "width: 18rem;")
	//- 			img.card-img-top(src = 'https://www.visible.com/shop/assets/images/shop/catalogue/iPhone_12_mini_PUR_1.jpg')
	//- 			.card-body 
	//- 				h5.card-title Title 
	//- 				p.card-text Description 
	//- 				p.card-text Price: 5 ETH
	//- 				a.btn.btn-primary.mt-2(href='/pay') More
		